* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: roboto, sans-serif;
}

header, main, footer {
    padding-left: 10%;
    padding-right: 10%;
}

header {
    padding-top: 1.25%;
}

.cta {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 25px;
    background-color: #3882f6;
    color: #fff;
    border-radius: 7px;
}

header, footer {
    background-color: #1f2937;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav span {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

#hero {
    display: flex;
    align-items:center;
    gap: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#hero div {
    min-width: 50%;
}

#hero img {
    max-width: 50%;
}

#hero h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 25px;
    color:#f9faf8;
}

#hero p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #e5e7eb;
}

#info-section {
    padding-top: 5%;
    padding-bottom: 10%;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 5%;
}

#info-section div {
    display: flex;
    gap: 50px;
    align-items: stretch;
}

.image {
    flex: 1;
}

.image img {
    border-radius: 12px;
    border: 4px solid #3882f6;
}

.image figcaption {
    text-align: center;
    line-height: 1;
    color: #6D747D;
}